html {
    font-family: 'Big Shoulders Display', cursive;
}

body {
    background-color: #d1d1d1;
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
}

.carusel_content,
.carusel_content .slick-list {
    height: 100px;
}

.carusel_content .content_image {
    width: 100%;
    height: auto;
}

.carusel_content .content_image img {
    width: 100%;
}

.carusel_content .slick-slide {
    margin: 5px;
    border-right: 2px #b6b6b6 solid;
    padding: 5px;
}

.carusel_content .slick-slide:first-child {
    border-left: 2px #b6b6b6 solid;
}

.carusel_content .content_title {
    text-align: center;
}

.carusel_content .content_title .title {
    color: #015da0;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.carusel_content .content_title .title:hover,
.carusel_content .content_title .title:focus {
    color: orange;
}

.carusel_content .content_title {
    border-bottom: 5px solid #015da0;
}

.carusel_content .slick-arrow {
    background: transparent;
}