/*enviar este archivo como resultado de la preuba a info@webs.gt*/

@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.eot?ymgex2');
    src: url('./fonts/icomoon.eot?ymgex2#iefix') format('embedded-opentype'), url('./fonts/icomoon.ttf?ymgex2') format('truetype'), url('./fonts/icomoon.woff?ymgex2') format('woff'), url('./fonts/icomoon.svg?ymgex2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus2:before {
    content: "\ea8b";
}

.icon-facebook2:before {
    content: "\ea91";
}

.icon-twitter2:before {
    content: "\ea96";
}

html {}

body {
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
}

.entry-title a {
    text-decoration: none;
    color: #ffa524;
}